@keyframes appear {
  from{
    opacity: 0;
    scale: 0;
  }to{
    opacity: 1;
    scale: 1;
  }
}

.flex-image, .flex-long-image{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@media screen and (max-width: 1024px) {
  .flex-long-image{
    height: 78svh;
  }
}

@media screen and (max-width: 991px) {
  .flex-container{
    gap: 13px;
  }
  .image{
    width: 33svw;
    height: 32.5svh;
  }
  .grid-image{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .group-image{
    height: 23svh;
    width: 33svw;
  }
  .flex-long-image{
    height: 94svh;
  }
}

@media screen and (max-width: 778px) {
  .images-container{
    padding-inline: 25px;
  }
  .long-image{
    width: 65svw;
    height: 130svh;
  }
  .image{
    width: 53svw;
    height: 48svh;
  }
  .group-image{
    height: 28svh;
  }
  .flex-long-image{
    height: 130svh;
  }
}

@media screen and (max-width: 767px) {
  .images-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
  }
  .long-image, .image, .group-image{
    width: 90svw;
  }

  .image{
    height: 78svh;
  }
  .group-image{
    height: 48svh;
  }
  .flex-long-image{
    margin-inline: auto;
    width: 90svw;
    height: 80svh;
  }
}

@media screen and (max-width: 425px) {
  .images-container{
    width: 100% !important;
  }
  .flex-image{
    width: 100%;
    .image{
      height: 60svh;
    }
  }
  .image{
    width: 100%;
  }
  .position-image .image{
    height: 95svh;
  }
  .grid-image{
    gap: 30px;
  }
  .flex-container{
    gap: 30px;
  }
  .flex-long-image{
    width: 100%;
    height: 160svh;
    .long-image{
      width: 100%;
      height: 100%;
    }
  }
}
