.main-image{
    background-image: url("../../public/CarouselOne.jpg");
    box-shadow: -2px -1px 1999px 300px rgba(24,29,56,0.75) inset;
    -webkit-box-shadow: -2px -1px 1999px 300px rgba(24,29,56,0.75) inset;
    -moz-box-shadow: -2px -1px 400px 200px rgba(24,29,56,0.75) inset;
    width: 100%;
    height: 60svh;
    padding-inline: 10svw;
}

@media screen and (max-width: 991px) {
    .contact-grid{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
    .name-inputs{
        input{
            width: 50%;
        }
    }
}

@media screen and (max-width: 767px) {
    .instructors-title{
        p{
            font-size: 25px;
        }
        span{
            display: none;
        }
    }
    .contact-grid{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .contact-desc{
        h1{
            font-size: 30px;
        }
    }
    .descrecption-text{
        font-size: 18px;
    }
    .name-inputs{
        flex-direction: column;
        input{
            height: 10svh;
            width: 100%;
        }
    }
}

@media screen and (max-width: 617px) {
    .contact-grid{
        padding-inline: 0;
        margin-inline: 10svw;
    }
    .form-container{
        gap: 20px;
        input{
            font-size: 20px;
            height: 10svh;
        }
    }
    .name-inputs{
        gap: 20px;
    }
    
}

@media screen and (max-width: 425px) {
    .instructors-title{
        p{
            font-size: 40px;
        }
    }
    .contact-desc{
        h1{
            font-size: 48px;
        }
    }
    .descrecption-text{
        font-size: 30px;
    }
    .location, .mobile, .email{
        img{
            width: 25svw;
        }
    }
    .location-info, .moblie-info, .email-info{
        h2{
            font-size: 50px;
        }
        p{
            font-size: 30px;
        }
    }
    .map{
        img{
            height: 92svh;
        }
    }
    .form-container{
        input{
            padding-inline: 20px;
            font-size: 40px;
            height: 25svh;
        }
        textarea{
            padding-inline: 20px;
            font-size: 40px;
        }
        button{
            font-size: 40px;
        }
    }
}