@font-face {
    font-family: Heebo;
    src: url("../../../../public/Fonts/Heebo-Regular.ttf");
  }

@theme {
    --font-heebo : Heebo, "sans-serif"
}

.first-slider{
    background-image: url("../../../../public/CarouselTwo.jpg");
    background-size: cover;
    box-shadow: -2px -1px 1999px 300px rgba(24,29,56,0.75) inset;
    -webkit-box-shadow: -2px -1px 1999px 300px rgba(24,29,56,0.75) inset;
    -moz-box-shadow: -2px -1px 400px 200px rgba(24,29,56,0.75) inset;
    width: 100%;
    height: 100svh;
    padding-inline: 10svw;
}

@keyframes move {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.right-move-btn{
    animation: move 1s linear;
    animation-range: entry 0% cover 20%;
}

@media screen and (max-width: 1024px) {
    .first-slider{
        width: 100%;
    }
}

@media screen and (max-width: 997px) {
    .main-text{
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .first-slider{
        height: 108svh;
    }
    .slide-title{
        font-size: 30px;
    }
    .big-text{
        font-size: 62px;
    }
    .slide-description{
        font-size: 26px;
    }
    .main-btns{
        width: 50%;
        height: 20%;
    }
    .main-btns button{
        width: 100%;
        height: 60%;
        font-size: 20px;
    }
}

@media screen and (max-width: 614px) {
    .main-btns{
        width: 60%;
    }
}

@media screen and (max-width: 501px) {
    .main-btns{
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .first-slider{
        height: 200svh;
        background-repeat: no-repeat;
    }
    .slide-title{
        font-size: 50px;
    }
    .big-text{
        font-size:90px;
    }
    .slide-description{
        font-size: 50px;
        line-height: 70px;
    }
    .main-btns{
        width: 70%;
        button{
            font-size: 35px;
        }
    }
}

@media screen and (max-width: 375px) {
    .first-slider{
        height: 240svh;
    }
    .slide-title{
        font-size: 60px;
    }
    .big-text{
        font-size: 95px;
    }
    .slide-description{
        font-size: 55px;
        line-height: 75px;
    }
    .main-btns{
        height: 20%;
    }
}