@font-face {
    font-family: Heebo;
    src: url("../../../../public/Fonts/Heebo-Regular.ttf");
  }

@theme {
    --font-heebo : Heebo, "sans-serif"
}

.second-slider{
    background-image: url("../../../../public/CarouselOne.jpg");
    background-size: cover;
    box-shadow: -2px -1px 1999px 300px rgba(24,29,56,0.75) inset;
    -webkit-box-shadow: -2px -1px 1999px 300px rgba(24,29,56,0.75) inset;
    -moz-box-shadow: -2px -1px 400px 200px rgba(24,29,56,0.75) inset;
    width: 100%;
    height: 100svh;
    padding-inline: 10svw;
}

@keyframes move {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.right-move-btn{
    animation: move linear;
    animation-range: entry 100%;
}

@media screen and (max-width: 1024px) {
    .second-slider{
        width: 100%;
    }
}

@media screen and (max-width: 997px) {
    .main-text{
        width: 90% !important;
    }
}

@media screen and (max-width: 768px) {
    .second-slider{
        height: 108svh;
    }
}

@media screen and (max-width: 425px) {
    .second-slider{
        height: 100svh;
        background-repeat: no-repeat;
        padding: 16px;
    }
}

@media screen and (max-width: 375px) {
    .second-slider{
        height: 100svh;
    }
}