@font-face {
  font-family: Heebo;
  src: url("../public/Fonts/Heebo-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("../public/Fonts/Nunito-Bold.ttf");
}


@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heebo: Heebo, "sans-serif";
  --font-nunito: Nunito, "sans-serif";
}
