@media screen and (max-width: 778px) {
    .client-img-container{
        width: 15svw;
        img{
            width: 100% !important;
            height: 100% !important;
        }
    }
    .client-name{
        font-size: 25px;
    }
    .client-proffession{
        font-size: 20px;
    }
    .client-comment{
        font-size: 19px;
    }
}

@media screen and (max-width: 600px) {
    .client-img-container{
        width: 17svw;
    }
}

@media screen and (max-width: 425px) {
    .client-img-container{
        width: 40svw;
    }
    .client-name{
        font-size: 45px !important;
    }
    .client-proffession{
        font-size: 35px !important;
    }
    .client-comment{
        width: 170svw;
        font-size: 30px !important;
    }
}